.address_box {
  grid-area: address-box;
  background-color: lightcoral;
  padding: 0.5em 1em 1em 0.25em;
  overflow: auto;
}

.hand_actions {
  position: relative;
  grid-area: hand_actions;
  background-color: bisque;
}

.leaflet-container {
  grid-area: leaflet-container;
  height: inherit;
  background-color: thistle;
}

.show_map_type_objects {
  font-size: 12px;
  /* padding-right: 1em; */
  position: absolute;
  bottom: 0px;
  background-color: skyblue;
  width: 100%;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.52);
}

.show_map_type_objects input {
  margin-right: 0.5em;
}

.show_map_type_objects h6,
.select-image-block h6,
.about_select_object h6 {
  font-weight: bold;
}

.show_map_type_objects-list {
  border-radius: 3px;
  margin-top: 0.5em;
  padding: 0.75em;
  height: 150px;
  overflow-y: auto;
  background-color: bisque;
  box-shadow: inset -5px 0px 8px rgba(0, 0, 0, 0.52);
}

.tag_type_object {
  font-size: 11px;
  cursor: pointer;
  line-height: 9px;
  padding-bottom: 5px;
  display: inline-block;
}

.tag_type_object:hover {
  text-decoration: underline;
  color: navy;
}

.item_hand_actions {
  padding: 1rem 0.5rem 1rem 1rem;
  border-radius: 3px;
}

.about_select_object {
  position: relative;
  background-color: sandybrown;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.52);
}

.about_select_object button {
  border-radius: 5px;
  margin-right: 1em;
}

.buttons_block {
  margin-top: 1em;
}

.close-button {
  position: absolute;
  right: 15px;
  top: 10px;
  width: 15px;
  height: 15px;
  opacity: 1;
  cursor: pointer;
}

.close-button::before,
.close-button::after {
  position: absolute;
  right: 0;
  content: "";
  height: 15px;
  width: 2px;
  background-color: #76727c;
}

.close-button::before {
  transform: rotate(45deg);
}

.close-button::after {
  transform: rotate(-45deg);
}

@media (max-width: 1199.9px) {
  .hand_actions {
    display: flex;
  }

  .show_map_type_objects h6,
  .select-image-block h6,
  .about_select_object h6 {
    font-size: 14px;
  }

  .show_map_type_objects {
    margin-left: 1em;
    bottom: unset !important;
    right: 0;
    height: inherit !important;
    width: 300px;
  }

  .show-map-type-objects input {
    margin-left: 1em;
  }

  .show_map_type_objects-list {
    height: 115px !important;
  }

  .select-geoIcon figure {
    padding: 0 0.5em 0 0.5em;
    margin: 0;
  }
}

.nested {
  margin-left: 0.5em;
}

.nested span:nth-child(1) {
  margin-right: 0.5em;
}

#basic-nav-dropdown {
  z-index: 1;
}

.select-image-block h6 {
  margin-bottom: 0.5em !important;
}

.select-geoIcon {
  display: flex;
  text-align: center;
  margin-bottom: 0.25em;
  margin-right: 5px;
}

.select-geoIcon img {
  height: 40px;
}

.select-geoIcon_current {
  border: #76727c solid 2px;
  margin-bottom: -4px;
  margin-right: 5px;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.52);
}

.select-geoIcon figure {
  padding: 0.5em 0.25em;
  margin-bottom: 0 !important;
  position: relative;
  display: inline-block;
}

.select-geoIcon figure figcaption {
  transition: all 0.6s;
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  background: rgba(5, 13, 156, 0.55);
  color: #fff;
  text-align: center;
  font-family: cursive;
  font-size: 0.75em;
  padding: 0.25em 0;
  width: 100%;
}

.select-geoIcon figure:hover figcaption {
  opacity: 1;
}
